/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: 'PressStart2P';
    src: url('./PressStart2P-Regular.woff');
}

@font-face {
    font-family: 'Inter-Variable';
    font-display: swap;
    src: local('Inter-Variable'),
    url('./Inter-Variable.woff2') format('woff2 supports variations'),
    url('./Inter-Variable.woff2') format('woff2-variations');
    font-weight: 410 715;
}
