/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  /*max-inline-size: 1440px;*/
  max-inline-size: 100%;
  min-block-size: 100dvb;
  font-family: var(--main-font, monospace);
  background-image: var(--gradient);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  margin-block: 100px;
  /*min-block-size: 368px;*/
  padding-block: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52.5px;
}

.clamp {
  
  inline-size: clamp(375px, 100%, 700px);
}

.header-logo {
  font-size: 65px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;

}

.header-logo-description {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.block-regular {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.post {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.title {
  padding: 3px 10px;
  font-family: var(--main-font);
  font-weight: 715;
  font-size: 18px;
  /*line-height: 100%;*/
  letter-spacing: 0%;
  vertical-align: middle;

}

.post-image {
  position: relative;
  margin: 0;
  padding: 0;
  /*border-block: 2px solid var(--main-color);*/
  box-shadow: 
    inset 0 2px 0 0 var(--main-color),
    inset 0 -2px 0 0 var(--main-color); 
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  object-fit: cover;
}

.saturate {
    filter: saturate(260%) brightness(150%);
}

.saturate-hue {
    filter: saturate(30%) hue-rotate(20deg) brightness(150%);
}

.invert {
    filter: invert(1) contrast(60%);
}

.grayscale {
    filter: grayscale(50%) sepia(70%);
}

.blur {
    filter: blur(5px);
}

.saturate-hue-brightness {
    filter: saturate(90%) hue-rotate(30deg) brightness(130%);
}

.brightness {
    filter: brightness(160%) hue-rotate(70deg) contrast(50%);
}

.label {
  color: transparent;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
    opacity: 0.5;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

.content {
  padding: 25px;
  font-family: var(--main-font);
  font-weight: 410;
  font-style: Regular;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.like-icon {
  outline: none;
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.card__like-button {
  font-family: var(--accent-font, fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  padding: 10px 21px;
  display: flex;
  justify-content: center;
}



.save{
  padding: 15px 20px;
  margin-block-end: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button__icon {
  outline: none;
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px;
}

.post .button__text {
  display: block;
  inline-size: 83px;
  block-size: 13px;
}



@supports (-webkit-text-stroke: 1px var(--background-color)) {
    .card__label {
        -webkit-text-stroke: 1px var(--background-color);
        text-shadow: none;
    }
}

@media (width < 376px) {
  .header {
    padding-block: 120px;
  }

  .title {
    padding: 4px 10px;

  }

  .save {
    padding: 15px 20px;
    margin-block-end: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .button__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

